<div class="card bg-dark p-4">
  <div class="card-body">
    <h3 class="m-2 card-title text-white">Welcome Dashbord</h3>

    <%= link_to "Students", students_path, class: "btn btn-outline-primary text-white m-2" %>
    <%= link_to "Courses", courses_path, class: "btn btn-outline-primary text-white m-2" %>
    <%= link_to "Student Courses", student_courses_path, class: "btn btn-outline-primary text-white m-2" %>
  </div>
</div>
